<div class="terminalform">
  <form action="/terminals" method="POST" class="form_submit">
    <p>Terminal</p>
    <select name="terminal">
      <option>Terminal 1</option>
      <option>Terminal 2</option>
      <option>Terminal 3</option>
      <option selected>International Terminal</option>
    </select>
    <p>Start Time</p>
    <input type="time" name="start_time" value="08:00:00"/>
    <p>End Time</p>
    <input type="time" name="end_time" value="12:00:00"/>
    <input type="submit" >
  </form>
</div>

<div class="lebron" >
  <div class="klay">


  </div>

</div>
