<div class="total-page-container">
  <div class="bgc-grey">
    <div class="bgc-darkgrey">
      <h1 class="t-center f-oswald p-xs">LayoverConnect</h1>
    </div>
    <form action="/terminals" method="POST" class="form_submit t-center fz-sm">
      <p class="m-b-sm f-futura">Where are you?</p>
      <select name="terminal">
        <option>Terminal 1</option>
        <option>Terminal 2</option>
        <option>Terminal 3</option>
        <option selected>International Terminal</option>
      </select>
      <p class="m-b-sm f-futura">How long are you here for?</p>
      <p class="m-b-xs">Start Time</p>
      <input type="time" name="start_time" value="08:00:00"/>
      <p class="m-b-xs">End Time</p>
      <input type="time" name="end_time" value="12:00:00"/>
      <input type="submit" class="sm-rect-button f-oswald d-b m-t-m center">
    </form>
    <%= image_tag('clouds.png', :class => "v-bottom w-full")%>
  </div>
</div>
