<h2> Options for <%= @terminal.name %> </h2>

<form action="https://localhost:3000/sfo/terminals">
  <input type="text"></input>
  <input type="submit"></input>
</input>

<!doctype html>
<%= @abv %><br>
<%= @zzz %><br>
<%= @zyzz %><br>

  <script type='text/javascript'>
    // Create a new Firebase reference, and a new instance of the Login client
    var chatRef = new Firebase('https://radiant-inferno-7960.firebaseio.com');
    chatRef.onAuth(function(authData) {
      // Once authenticated, instantiate Firechat with our user id and user name
      if (authData) {
        var chat = new FirechatUI(chatRef, document.getElementById('firechat-wrapper'));
        chat.setUser(authData.uid, authData[authData.provider].displayName);
      }
    });
    function login(provider) {
      chatRef.authWithOAuthPopup("facebook", function(error, authData) {
        if (error) {
          console.log(error);
        }
      });
    }
  </script>
  <div id='firechat-wrapper'>
    <a href='#' onclick='login("facebook");'>Login</a>
  </div>
